thead, tfoot {
    background-color: #c0c0c0;
}
tbody tr:hover {
    background-color: #c0ffc0;
}
tr:nth-child(even) {
    background-color: #e8e8e8;
}

table {
border-collapse: collapse;
    width: 85%;
}
th, td {
    border: 1px solid #a0a0a0;
}
td {
    text-align: right;
}
td.row-name {
    text-align: left;
}
th.row-name {
    width: 35%;
}
tfoot th {
    text-align: right;
}

a.breadcrumb:after {
    content: " /";
    color: gray;
}
